<header class="bg-gray-800 text-white shadow-lg">
    <div class="container mx-auto px-4 py-3 flex items-center justify-between">
      <!-- Logo y título -->
      <div class="flex items-center space-x-4">
        <img src="https://i.ibb.co/cKc6ZbzM/image.png" alt="Logo" class="w-12 h-12 rounded-lg shadow-sm">
        <span class=" text-xl font-bold text-white">Dashboard</span>
      </div>
  
      <!-- Botón de Cerrar Sesión -->
      <button
        (click)="LogOut()"
        class="flex items-center space-x-2 bg-transparent border border-white hover:bg-white hover:text-gray-800 text-white font-semibold py-2 px-6 rounded-full transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
      >
        <span>Cerrar sesión</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </header>